Prezado(a) {{ nome }},
<br>
Comunicamos a Vossa Senhoria que o pedido de certidão foi aceito na data {{data}} e recebeu o número 00017/2019.
<br>
<br>
<b>Abaixo o resumo deste pedido:</b>
<br>
<br>
Modelo:	<b>Certidão de Ações Trabalhistas</b>
<br>
Nome a ser pesquisado: <b>{{nome}}</b>
<br>
Documento: <b>{{cpf}}</b>
<br>
Seu código para verificação: <b>{{ codigo }}</b>
<br>
<br>
Esta mensagem é automática, portanto não pode ser respondida.
<br>
Cordialmente,
<br>
Tribunal Regional do Trabalho da 21ª Região